@font-face {
  font-family: "RodFat";
  src: url("/fonts/rodfat.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Espiritu";
  src: url("/fonts/Espiritu.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NexaRustScript";
  src: url("/fonts/NexaRustScriptR.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}